body {
  background-color: whitesmoke;
  font-family: arial;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}

#divRight {
  background-color: whitesmoke;
  width: 400px;
  margin-left: auto;
  padding: 15px;
  text-align: center;
}
#divLeft {
  background-color: whitesmoke;
  text-align: left;
  margin-left: auto;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: whitesmoke;
  text-align: left;
}

.right {
  right: 0;
  background-color: whitesmoke;
}
.split2 {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left2 {
  left: 20;
  background-color: whitesmoke;
  text-align: left;
}
